
*
{
    margin: 0%;
    padding: 0%;
}


@media (min-width: 769px) and (max-width: 1300px) {

/* --------------------LAYOUT/HOME------------------- */

    #bodyHome {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, red, orange, yellow, orange, crimson);

        display: grid;

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(13, 150px);

        grid-column-gap: 2px;
        grid-row-gap: 2px;

        grid-template-areas: 
        "header header header header"
        "presentation presentation presentation publicityStore"
        "presentation presentation presentation publicityStore"
        "presentation presentation presentation publicityStore"
        "presentation presentation presentation publicityStore"
        "presentation presentation presentation publicityStore"
        "presentation presentation presentation publicityStore"
        "presentation presentation presentation publicityStore"
        "sectionVideos sectionVideos sectionVideos sectionVideos"
        "sectionVideos sectionVideos sectionVideos sectionVideos"
        "sectionVideos sectionVideos sectionVideos sectionVideos"
        "sectionVideos sectionVideos sectionVideos sectionVideos"
        "footer footer footer footer";

        align-content: stretch;
    }

    #header {
        grid-area: header;
        width: 100%;
        position: fixed;
        z-index: 999;
    }

    #presentation {
        grid-area: presentation;
    }

    #publicityStore {
        width: 200px;
        height: 1500px;

        grid-area: publicityStore;
        justify-self: center;
        align-self: center;
    }

    #sectionVideos {
        grid-area: sectionVideos;
        justify-self: center;
        align-self: center;
    }

    #footer {
        grid-area: footer;
        background-color: black;
        display: flex;

        justify-self: stretch;
        align-self: center;
    }

    /* --------------------LAYOUT/GALLERY------------------- */

    #bodyGallery {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, red, crimson, yellow);

        display: grid;

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(67, 150px);

        grid-column-gap: 2px;
        grid-row-gap: 2px;

        grid-template-areas: 
        "header header header header"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "gallery gallery gallery gallery"
        "footer footer footer footer";

        align-content: stretch;
    }

    #gallery {
        grid-area: gallery;
        justify-items: center;
    }

    /* --------------------LAYOUT/DISCOGRAPHY------------------- */

    #bodyDiscography {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, red, crimson, yellow);

        display: grid;

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(44, 150px);

        grid-column-gap: 2px;
        grid-row-gap: 2px;

        grid-template-areas: 
        "header header header header"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "footer footer footer footer";

        align-content: stretch;
    }

    #discographyComplete {
        grid-area: discographyComplete;
    }

    /* --------------------LAYOUT/MEMBERS------------------- */

    #bodyMembers {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, red, crimson, yellow);

        display: grid;

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(71, 150px);

        grid-column-gap: 2px;
        grid-row-gap: 2px;

        grid-template-areas: 
        "header header header header"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "members members members members"
        "footer footer footer footer";

        align-content: stretch;
    }


    #members {
        grid-area: members;
    }


    /* --------------------LAYOUT/CONTACT------------------- */

    #bodyContact {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, red, crimson, yellow);

        display: grid;

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(9, 150px);

        grid-column-gap: 2px;
        grid-row-gap: 2px;

        grid-template-areas: 
        "header header header header"
        "contactUs contactUs contactUs contactUs"
        "contactUs contactUs contactUs contactUs"
        "boxForm boxForm boxForm boxForm"
        "boxForm boxForm boxForm boxForm"
        "boxForm boxForm boxForm boxForm"
        "boxForm boxForm boxForm boxForm"
        "boxForm boxForm boxForm boxForm"
        "footer footer footer footer";

        align-content: stretch;
    }

    #contactUs {
        grid-area: contactUs;
    }

    #boxForm {
        grid-area: boxForm;
        justify-self: center;
    }

    /* --------------------ITEMS/HEADER------------------- */

    .navbar-brand, .offcanvas-title {
        font-family: 'Permanent Marker', cursive;
    }

    .nav-item {
        font-family: 'Gochi Hand', cursive;
    }

    .d-flex input {
        font-family: 'Gochi Hand', cursive;
        text-align: center;
    }

    .d-flex input:focus {
        background-image: linear-gradient(to top, red, crimson ,orange);
    }

    .audio {
        width: 100%;
        height: 30px;
        background-color: black;
        text-align: center;
    }

    div audio {
        width: 95%;
        height: 20px;

        position: relative;
        top: 5px;
    }

/* --------------------ITEMS/FOOTER------------------- */

    .footerLogo {
        width: 100%;
        height: 100%;
    }

    .footerLogo img {
        width: 200px;
        height: 100%;

        position: relative;
        top: 60px;
        left: 50px;
    }

    .history {
        width: 75%;
        color: white;
        text-align: center;

        align-self: center;
    }

    .history h1 {
        font-size: 30px;
        font-family: 'Permanent Marker', cursive;

        text-align: center;
    }

    .history p {
        font-size: 10px;
        line-height: 20px;
        font-family: 'Gochi Hand', cursive;
        text-align: center;
    }

    .links {
        width: 100%;
        text-align: center;
        line-height: 100px;
    }

    .links a img{
        width: 40px;
        height: 40px;
    }

/* --------------------ITEMS/HOME------------------- */

    .nameBand {
        color: black;
        font-family: 'Permanent Marker', cursive;
        font-size: 75px;
        text-align: center;
    }

    .description {
        color: black;
        font-family: 'Gochi Hand', cursive;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
    }

    @keyframes cambio-img {
        0% {
            background-image: url(../img/drop-dead-logo.gif);
            background-size: 150px 1000px;

            background-repeat: no-repeat;
            background-position: center;
        }

        50% {
            background-image: url(../img/store-drop-dead-oli.gif);
            background-size: 150px 1000px;

            background-repeat: no-repeat;
            background-position: center;
        }

        
        100% {
            background-image: url(../img/store-drop-dead.gif);
            background-size: 150px 1000px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    
    #publicityStore {
        animation: cambio-img 8s linear 0s infinite; 
        transition: 5s;
    }

    #publicityStore a {
        border: 2px solid crimson;
        color: black;

        position: relative;
        top: 700px;
        left: 50px;
    }

    #sectionVideos  {
        display: flex;
        flex-direction: wrap;
        flex-wrap: wrap;
        gap: 20px;

        justify-content: center;
    }

    .previa {
        border: 2px solid violet;
        background-color: black;
        width: 300px;
        height: 300px;
    }

    .previa p {
        color: white;
        font-family: 'Permanent Marker', cursive;
        font-size: 25px;
        text-align: center;

        position: relative;
        top: 20px;
    }

    .previa img {
        width: 100%;
        height: 200px;
    }

    .buttonMore {
        text-align: center;
    }

    /* --------------------ITEMS/GALLERY-------------------- */

    .bigTitleGallery {
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-align: center;
    }

    .titleGalleryImg, .titleGalleryVideos {
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-align: center;
    }

    .imgAll {
        display: flex;
        flex-flow: row nowrap;
    }

    .imgAll img {
        width: 100px;
        height: 100px;
        border: 2px solid orangered;
        transition: all 5s;
    }

    .imgAll img:hover {
        width: 500px;
        height: 500px;
        border: 2px solid violet;
        transform: translate(50px);
        z-index: 800;
    }

    .videosAll {
        display: flex;
        flex-direction: wrap;
        flex-wrap: wrap;
        gap: 40px;

        justify-content: space-evenly;
    }

    .videoOfficial {
        border: 2px solid violet;
        background-color: black;
        width: 400px;
        height: 400px;
    }

    .videoOfficial p {
        color: white;
        font-family: 'Permanent Marker', cursive;
        font-size: 25px;
        text-align: center;

        position: relative;
        top: 30px;
    }

    .videoOfficial img {
        width: 100%;
        height: 300px;
    }

        /* --------------------ITEMS/DISCOGRAPHY-------------------- */

    .bigTitleDiscography {
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-align: center;
    }

    .titleAlbumStudio, .titleSingleEP, .titleLive, .titleCollaborations {
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-align: center;
    }

    .discs {
        text-align: center;
        line-height: 75px;
    }

    /* --------------------ITEMS/MEMBERS-------------------- */

    .bigTitleMembers {
        color: black;
        font-family: 'Permanent Marker', cursive;
        text-align: center;
    }

    #members h2 {
        color: black;
        font-family: 'Permanent Marker', cursive;
        font-size: 40px;
        text-align: center;
        line-height: 40px;
    }

    #members p {
        font-family: 'Gochi Hand', cursive;
        font-size: 20px;
        text-align: center;
        line-height: 60px;
    }

    .oliver, .mattN, .lee, .mattK, .jordan {
        width: 100%;
        width: 100%;

        padding: 30px;
    }

    #members img {
        width: 350px;
        height: 350px;
        border: 2px solid orangered;
        transition: all 5s;
    }

    #members img:hover {
        width: 600px;
        height: 600px;
        border: 2px solid orangered;
        transform: translate(25px);
        z-index: 800;
    }


    /* --------------------ITEMS/CONTACT-------------------- */

    .titleContacUs {
        color: black;
        font-family: 'Permanent Marker', cursive;
        font-size: 50px;
        text-align: center;

        position: relative;
        top: -30px;
    }
    
    .descriptionContactUs {
        padding: 30px;
        color: black;
        font-family: 'Gochi Hand', cursive;
        font-size: 20px;
        text-align: center;
    }

    #boxForm form {
        background-image: url(../img/background-contact.jpg);
        border-radius: 50px;
        padding: 50px;

        color: white;
        font-family: 'Gochi Hand', cursive;
        text-align: center;
        line-height: 20px;
    }
}